[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
tensorflow-gpu = "*"
keras = "*"
pillow = "*"
jupyter = "*"
threaded = "*"
lxml = "*"
sklearn = "*"
tqdm = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
